{{ define "content" }}
<div class="row">
    <div class="col-md-12">
        <h2>Welcome!</h2>
        <p>Welcome to Golang Bulgaria.</p> 
        <p>Not much to see here yet, one day we'll make a decent website.</p>
        <p>Currently we are hosting a meetup in <a href="https://www.meetup.com/Golang-Bulgaria/" target="_blank">Sofia</a> and <a href="https://www.meetup.com/Golang-Bulgaria-Plovdiv" target="_blank">Plovdiv</a>. Feel free to join us! No matter if you're a beginner or veteran Go programmer, you're welcome at our meetups.</p>
        <p>Also you can get an <a href="/slack">invitation</a> to our Slack.</p>
    </div>
</div>
{{ end }}